.message {
  color: $concrete;
  margin: 10px 0;

  small {
    display: block;
  }

  p {
    display: inline-block;
    margin: 5px 0; padding: 10px;
    position: relative;
  }

  p:before {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
  }

  time {
    display: block;
    font-size: 10px;
  }
}

.join,
.leave {
  text-align: center;
}

.to {
  text-align: right;

  p {
    background: $peter-river;
    color: $clouds;
    margin-left: 100px;
  }

  p:before {
    border-left: 10px solid $peter-river;
    right: -5px;
  }
}

.from {
  text-align: left;

  p {
    background: $silver;
    color: $midnight-blue;
    margin-right: 100px;
  }

  p:before {
    border-right: 10px solid $silver;
    left: -5px;
  }
}
