.new-user {
  background: $concrete;
  padding: 10px;
  padding-right: 40px; // Stops overlapping

  input {
    background: $clouds;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
  }
}
