.message-list {
  padding: 0 10px;

  .system, .to, .from {
    margin: 10px 0;
    color: $concrete;
  }

  .system {
    text-align: center;
  }

  .to {
    text-align: right;
  }

  .to > img {
    float: right;
    margin-left: 10px;
  }

  .to > ul {
    position: relative;
    margin-left: 100px;
    background: $peter-river;
    color: $clouds;
  }

  .to > ul:before {
    position: absolute;
    top: 10px; right: -5px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $peter-river;
  }

  .from {
    text-align: left;
  }

  .from > img {
    float: left;
    margin-right: 10px;
  }

  .from > ul {
    position: relative;
    margin-right: 100px;
    background: $silver;
    color: $midnight-blue;
  }

  .from > ul:before {
    position: absolute;
    top: 10px; left: -5px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $silver;
  }
}
