$turquoise: #1ABC9C;
$emerald: #2ECC71;
$peter-river: #3498DB;
$amthyst: #9B59B6;
$wet-asphalt: #34495E;
$green-sea: #16A085;
$nephritis: #27AE60;
$belize-hole: #2980B9;
$wisteria: #8E44AD;
$midnight-blue: #2C3E50;
$sun-flower: #F1C40F;
$carrot: #E67E22;
$alizarin: #E74C3C;
$clouds: #ECF0F1;
$concrete: #95A5A6;
$orange: #F39C12;
$pumpkin: #D35400;
$pomegranate: #C0392B;
$silver: #BDC3C7;
$asbestos: #7F8C8D;

@import "base";
@import "layout";
@import "module/message-list";

body {
  background: $clouds;
  padding-bottom: 60px;
}

section > .message-list > div > img {
  width: 40px; height: 40px;
  border-radius: 5px;
}

section > .message-list > div > ul {
  padding: 10px 15px;
  border-radius: 5px;
  list-style: none;
}

footer {
  padding: 10px;
  background: $concrete;
}

footer > input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: $clouds;
}
