body > aside {
  background: $silver;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
}

body > section {
  bottom: 61px;
  left: 200px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

body > footer {
  bottom: 0;
  left: 200px;
  position: fixed;
  right: 0;
}
